<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="EpiMoreEditors" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="EpiMoreEditors" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <dojo>
    <paths>
      <add name="epi-more-editors" path="ClientResources/scripts" />
    </paths>
  </dojo>
</module>