<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="EpiMoreEditors" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="EpiMoreEditors" />
  </assemblies>
  <clientResources>
    <add name="epi-more-editors" path="ClientResources/Editors/TextEditors.js" resourceType="Script" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi-more-editors" />
    </requiredResources>
  </clientModule>
</module>